{{ define "title" }}Persona 5 Royal - Stats{{ end }}

{{ define "extraCSS"}}
<link href="/static/css/components/svg.css" rel="stylesheet" />
<link href="/static/css/pages/home.css" rel="stylesheet" />
{{ end }}

{{ define "scripts" }}
<script src="/static/js/modal.js" defer></script>
<script src="/static/js/tooltip.js" defer></script>
{{ end }}

{{ define "content" }}
<div class="userHeader">
  <div class="pfp" onclick="openFirstChildFileInput(this)">
    <img src="/assets/pfp.png" alt="profile picture" />
    <button class="btn-mutted btn-icon rounded">
      {{ template "pencilSVG" }}
    </button>
    <input id="pfpChange" name="pfp" class="hidden" type="file" />
  </div>
  <form class="editUsername">
    <div class="username">
      <h1>{{ .Name }}</h1>
      {{ template "pencilSVG" }}
    </div>
    <div class="flex gap-sm justify-end">
      <button class="btn-outline">Edit</button>
      <button class="btn-destructive">Cancel</button>
    </div>
  </form>
</div>

<script>
function openFirstChildFileInput(element) {
  const fileInput = element.getElementsByTagName("input")[0]
  fileInput.click()
}
</script>
{{ end }}
