{{ define "title" }}Persona 5 Royal - Stats{{ end }}

{{ define "extraCSS"}}
<link href="/static/css/components/svg.css" rel="stylesheet" />
<link href="/static/css/components/profile-header.css" rel="stylesheet" />
<link href="/static/css/components/activity-card.css" rel="stylesheet" />
<link href="/static/css/components/tooltip.css" rel="stylesheet" />
<link href="/static/css/components/forms.css" rel="stylesheet" />
{{ end }}

{{ define "scripts" }}
<script src="/static/js/tooltip.js" defer></script>
<script src="/static/js/profile-header.js" defer></script>
<script src="/static/js/forms.js" defer></script>
{{ end }}

{{ define "content" }}
{{ if .Name }}
{{ template "profile-header" . }}
<section id="logs">
  <div class="flex gap-sm">
    <h2>Logs</h2>
    <button
      class="btn-secondary"
      hx-get="/partials/modal/add-activity"
      hx-target="#modal-root"
      hx-swap="beforeend"
    >
      add
    </button>
  </div>
  <ul>
    {{ range .Activities }}
    <li data-id="{{.Id}}" class="activity-card" onclick="">
      <div>
        <h4>{{ .Title }}</h4>
        <p class="text-subtitle text-xs">{{ timeToString .Date }}</p>
      </div>
      <ul>
        {{ range .IncreasedStats }}
        <li>
          <p>{{ .Stat }}</p>
          <div class="flex gap-xs items-center">
          {{ if ge .Points 1}}
            <div class="music-note-container">{{ template "music-note-svg" . }}</div>
          {{ end }}
          {{ if ge .Points 4}}
            <div class="music-note-container">{{ template "music-note-svg" . }}</div>
          {{ end }}
          {{ if ge .Points 7}}
            <div class="music-note-container">{{ template "music-note-svg" . }}</div>
          {{ end }}
          </div>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </ul>
</section>
{{ else }}
<div class="modal-overlay">
  <div class="modal no-animation">
    <h3>New User</h3>
    <div>
      {{ template "form-new-user" }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}
