{{ define "title" }}Persona 5 Royal - Stats{{ end }}

{{ define "extraCSS"}}
<link href="/static/css/components/svg.css" rel="stylesheet" />
<link href="/static/css/components/profile-header.css" rel="stylesheet" />
<link href="/static/css/components/activity-card.css" rel="stylesheet" />
<link href="/static/css/components/tooltip.css" rel="stylesheet" />
<link href="/static/css/components/forms.css" rel="stylesheet" />
{{ end }}

{{ define "scripts" }}
<script src="/static/js/tooltip.js" defer></script>
<script src="/static/js/profile-header.js" defer></script>
<script src="/static/js/forms.js" defer></script>
{{ end }}

{{ define "content" }}
{{ if .Name }}
{{ template "profile-header" . }}
<section id="logs">
  <div class="flex gap-sm">
    <h2>Logs</h2>
    <button
      class="btn-secondary"
      hx-get="/partials/activity"
      hx-target="#modal-root"
      hx-swap="beforeend"
    >
      add
    </button>
  </div>
  <ul id="activity-list">
    {{ range .Activities }}
      {{ template "activity-card" . }}
    {{ end }}
  </ul>
</section>
{{ else }}
<div class="modal-overlay">
  <div class="modal no-animation">
    <h3>New User</h3>
    <div>
      {{ template "form-new-user" }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}
