{{ define "title" }}Test{{ end }}

{{ define "extraCSS"}}
<link href="/static/css/components/svg.css" rel="stylesheet" />
{{ end }}

{{ define "scripts" }}
<script src="/static/js/modal.js" defer></script>
<script src="/static/js/tooltip.js" defer></script>
{{ end }}

{{ define "content" }}
<button onclick="toggleModal('activity-test')">Open</button>
<button onclick="toggleModal('settings-test')">settings</button>
{{ template "modal" (dict
  "Id"      "activity-test"
  "Title"   "world"
  "Content" "activity"
)}}
{{ template "modal" (dict
  "Id"      "settings-test"
  "Title"   "world"
  "Content" "settings"
)}}
{{ template "modal" (dict
  "Id"      "confirm-test"
  "Title"   "Warning"
  "Content" "confirmation"
  "Class"   "fit"
)}}
<button onclick="deleteUserData()">Delete</button>
<button onclick="insertAcitivity()">New Activity</button>
<button onclick="modify()">Modify</button>
<h1>{{ .Name }}</h1>
<h3>Stats</h3>
<ul>
  <li>Knowledge: {{ .Stats.Knowledge }}</li>
  <li>Guts: {{.Stats.Guts}}</li>
  <li>Proficiency: {{ .Stats.Proficiency }}</li>
  <li>Kindness: {{ .Stats.Kindness }}</li>
  <li>Charm: {{ .Stats.Charm }}</li>
</ul>
<h3>Log</h3>
<ul>
  {{ range .Activities }}
  <li data-id="{{.Id}}" onclick="remove(this.dataset.id)">
    <div class="flex">
      <p>{{ .Title }}</p>
      <p>{{ .Date }}</p>
    </div>
    <ul>
      {{ range .IncreasedStats }}
      <li>
        <p>{{ .Stat }}</p>
        <p>{{ .Points }}</p>
      </li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>
{{ template "modal" (dict
  "Id"      "add-activity"
  "Title"   "Add Activity"
  "Content" "activity"
)}}
<script>
// TODO: .js file
async function remove(id) {
  await fetch(`/activity/${id}`, {
    method: "DELETE",
  });
}

async function deleteUserData() {
  await fetch("/user-data", {
    method: "DELETE",
  });
}

async function insertAcitivity() {
  const mockBody = {
    title: "hello",
    description: "hello2",
    increased_stats: [
      {
        stat: "guts",
        points: 1,
      },
      {
        stat: "proficiency",
        points: 1,
      },
    ],
  };
  await fetch("/activity", {
    method: "POST",
    credentials: "include",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(mockBody),
  });
}

async function modify(id) {
  const mockBody = {
    title: "modTitle",
    // description: "modDesc",
    // increased_stats: [
    //   {
    //     stat: "guts",
    //     points: 10,
    //   },
    //   {
    //     stat: "proficiency",
    //     points: 10,
    //   },
    // ],
    date: "1991-12-21"
  };
  await fetch("/activity/123", {
    method: "POST",
    credentials: "include",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(mockBody),
  });
}
</script>
{{ end }}
