<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Persona 5 Royal - Stats</title>

    <!-- CSS order matters -->
    <link href="/static/css/base.css" rel="stylesheet" />
    <link href="/static/css/components/buttons.css" rel="stylesheet" />
    <link href="/static/css/components/inputs.css" rel="stylesheet" />
    <link href="/static/css/components/modal.css" rel="stylesheet" />
    <link href="/static/css/utilities.css" rel="stylesheet" />
  </head>

  <body>
    <div class="modal">
      <div>
        <form method="post" action="/user-data">
          <input class="input" type="text" placeholder="name" name="name" />
          <button class="btn-primary modal-abs-btn" type="submit">Create</button>
        </form>
    </div>
    </div>
  </body>
</html>
