#userHeader {
  display: flex;
  justify-content: space-between;
  /* gap: 0; */
  width: 100%;
}

#userInfo {
  display: flex;
  gap: 1rem;
}

.pfp {
  position: relative;
  width: 15rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 5px solid var(--color-accent);
}

.pfp > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pfp > button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pfp > button.visible {
  visibility: visible;
}

.pfp:hover > button {
  visibility: visible;
}

.editUsername {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nameInput {
  font-size: 1.75rem;
  font-weight: 600;
}

.username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: var(--color-foreground);
  cursor: pointer;
  height: fit-content;
}

.username > svg {
  visibility: hidden;
  width: 1.5rem;
}

.username > svg.visible {
  visibility: visible;
}

.username:hover > svg {
  visibility: visible;
}

#formBtns {
  display: none;
  gap: var(--spacing-sm);
  justify-content: flex-end;
}

#formBtns.visible {
  display: flex;
}

.activity-card {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.activity-card h4 {
  margin-bottom: 0.25rem;
}

.activity-card > ul > li {
  display: flex;
}
