{{ define "form-new-user"}}
<form
  hx-on:submit="event.preventDefault()"
  hx-post="/partials/user-data"
  hx-target="main"
>
  {{ template "input-group" (dict 
    "Id"          "name"
    "Name"        "name"
    "Type"        "text"
    "Placeholder" "Name"
    "Required"    true
  )}}
  <button class="btn-secondary modal-abs-btn" type="submit">Create</button>
</form>
{{ end }}

{{define "form-activity"}}
<form
  hx-post="/partials/activity"
  hx-target="closest .modal-overlay"
  hx-swap="outerHTML"
>
  {{ template "input-group" (dict
    "Type"        "text"
    "Placeholder" "Title"
    "Name"        "title"
    "ErrorMsg"    "Title is required"
    "Required"    true
    "Value"       (or .Title "")
  )}}
  <textarea
    class="input"
    placeholder="Description"
    name="description"
    rows="5"
    cols="33"
    maxlength="200">{{ with .Description }}{{ . }}{{ end }}</textarea>
  {{ if .Date }}
    {{ template "input-group" (dict
      "Type"        "date"
      "Name"        "date"
      "ErrorMsg"    "Date is required"
      "Required"    true
      "Value"       (or .Date "")
    )}}
  {{ end }}
  <div class="flex gap-xs items-center cursor-help w-fit" onmouseenter="showFirstChildTooltip(this)"
    onmouseleave="hideFirstChildTooltip(this)">
    <h4>Stats</h4>
    <div class="relative question-mark-container">
      {{ template "questionMarkSVG" . }} 
      {{ template "tooltip" (dict "Text" "info") }}
    </div>
  </div>
  <div id="stats-selects">
    {{ range .IncreasedStats }}
      {{ template "select-stat" (dict
        "Stat" .Stat
        "Points" .Points
        "Options" $.Options
      )}}
    {{ end }}
    {{if or (eq .IncreasedStats nil) (and .IncreasedStats (lt (len .IncreasedStats) 5)) }}
      {{ template "select-stat" (dict "Options" .Options) }}
    {{ end }}
  </div>
  <div class="music-note-container">{{ template "music-note-svg" . }}</div>
  <button class="btn-secondary modal-abs-btn" type="submit">submit</button>
</form>
{{end}}

{{ define "select-stat" }}
<div class="select-stat" data-value="{{ .Stat }}">
  <select 
    class="input" 
    name="stat" 
    hx-get="/partials/stat"
    hx-trigger="change once"
    hx-target="#stats-selects"
    hx-swap="beforeend"
    hx-include="[name='stat']"
    onchange="this.parentElement.dataset.value = this.value; customOnChange()"
  >
    <option value="" disabled selected hidden>Add stat</option>
    {{ if ne .Stat nil}}
      <option value="{{ .Stat }}" selected>{{ capitalize (parseStat .Stat) }}</option>
    {{ end }}
    {{ if .Options }}
      {{ range .Options }}
    <option value="{{ . }}">{{ capitalize . }}</option>
      {{ end }}
    {{ else }}
      <option value="knowledge">Knowledge</option>
      <option value="guts">Guts</option>
      <option value="proficiency">Proficiency</option>
      <option value="kindness">Kindness</option>
      <option value="charm">Charm</option>
    {{ end }}
  </select>
  <p>Increased:</p>
  {{ template "input" (dict
    "Type"  "number"
    "Min"   "1"
    "Max"   "10"
    "Name"  "points"
    "Value" (or .Points "1")
  )}}
  <div onclick="
      customOnChange(this.parentElement.querySelector('select').value);
      customDelete(this);
    ">
    {{ template "x-svg" }}
  </div>
</div>
{{ end }}

{{ define "settings"}}
<div>
  <div class="flex gap-sm items-center">
    <label for="lang">Language:</label>
    <select class="input w-fit p-sm" name="lang" id="lang">
      <option value="en">EN</option>
      <option value="jp">JP</option>
      <option value="pt">PT</option>
    </select>
  </div>
  <div class="flex gap-sm items-center">
    <button class="btn-ghost" onclick="console.log('TODO')">Export PDF</button>
    <button class="btn-ghost" onclick="console.log('TODO')">Export Excel</button>
  </div>
  <div>
    <button class="btn-destructive" onclick="toggleModal('confirm-test')">Delete Data</button>
  </div>
  <button data-id="{{ .Id }}" class="btn-secondary modal-abs-btn" onclick="toggleModal(this.dataset.id)">close</button>
</div>
{{ end }}

{{ define "confirmation" }}
<div>
  <h3>Are you sure you want to perform this action?</h3>
  <p class="text-subtitle">This can't be undone</p>
  <div class="flex justify-end items-center">
    <button data-id="{{ .Id }}" class="btn-ghost" onclick="toggleModal(this.dataset.id)">No</button>
    <button class class="btn-ghost" onclick="console.log('TODO')">Yes</button>
  </div>
</div>
{{ end }}
