<div
  class="modal-overlay"
  hx-on:click="closeModal()"
  tabindex="-1"
  hx-on::load="document.body.classList.add('modal-open'); this.focus()"
>
  <div
    class="modal"
    hx-on:click="event.stopPropagation()"
  >
    <h3>{{ .Title }}</h3>
    <div>
      {{ if eq .Content "activity"}}
        {{ template "form-activity" }}
      {{ else if eq .Content "new-user" }}
        {{ template "form-new-user" }}
      {{ else if eq .Content "settings" }}
        {{ template "settings" . }}
      {{ else if eq .Content "confirmation" }}
        {{ template "confirmation" . }}
      {{ else }}
        <h1>hello</h1>
      {{ end }}
    </div>
  </div>
</div>
