button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-body);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  white-space: nowrap;
}

button:focus,
.btn:focus, 
button:hover:not(:disabled),
.btn:hover:not(:disabled){
  outline: none;
  box-shadow: var(--shadow-focus) !important;
}

button svg,
.btn svg {
  height: 1rem;
  width: 1rem;
}

button:disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-icon {
  padding: 0.5rem 0.5rem;
}

.btn-primary {
  background-color: #000;
  color: var(--color-foreground);
  border-color: var(--color-foreground);
}

.btn-primary:focus,
.btn-primary:hover:not(:disabled) {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.btn-outline {
  background-color: transparent;
  color: var(--color-foreground);
  border-color: var(--color-foreground);
}

.btn-outline:focus,
.btn-outline:hover:not(:disabled) {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-foreground);
  border-color: transparent;
}

.btn-ghost:focus,
.btn-ghost:hover:not(:disabled) {
  background-color: var(--color-muted);
}

.btn-ghost:hover:not(:disabled) {
  box-shadow: none !important;
}

.btn-destructive {
  background-color: var(--color-error);
  color: white;
  border-color: var(--color-error);
}

.btn-destructive:focus,
.btn-destructive:hover:not(:disabled) {
  background-color: var(--color-error-hover);
  border-color: var(--color-error-hover);
  box-shadow: var(--shadow-focus-error) !important;
}

.btn-sm {
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  gap: 0.25rem;
}

.btn-sm.btn-icon {
  padding: 0.375rem 0.375rem;
}

.btn-sm svg {
  height: 0.75rem;
  width: 0.75rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  gap: 0.5rem;
}

.btn-lg.btn-icon {
  padding: 0.75rem 0.75rem;
}

.btn-lg svg {
  height: 1.35rem;
  width: 1.35rem;
}
