/* Input */
.input-group {
  position: relative;
}

.input-group > i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;

  height: 16px;
  width: 16px;
  color: var(--color-error);
  object-fit: contain;
}

.input-group > span {
  display: none;
  position: absolute;
  bottom: -0.75rem;
  left: 1rem;
  color: var(--color-error);
  font-size: 0.75rem;
  line-height: 0;
}

.input {
  display: block;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  font-family: var(--font-body);
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-foreground);
  background-color: var(--color-input);
  border: 1px solid var(--color-border);
  transition: border-color 0.2s ease;
}

.input[type=number] {
  padding: var(--spacing-sm);
  appearance: textfield;
  width: fit-content;
  margin: 0;
  text-align: right;
}

.input:focus {
  outline: none;
  border-color: var(--color-foreground);
  /* box-shadow: var(--shadow-focus); */
  background-color: var(--color-input-focus);
}

.input::placeholder {
  color: var(--color-muted-foreground);
}

.input.error:not(:focus) {
  border-color: var(--color-error);
}

.input.error:not(:focus) ~ i {
  display: flex;
}

.input.error:not(:focus) + span {
  display: block;
}

/* Icon Container */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-muted);
  border-radius: var(--radius-lg);
  margin: 0 auto;
}

/* Search bar */
.search-bar {
  position: relative;
}

.search-bar > svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-muted-foreground);
}

.search-bar > svg {
  width: 1rem;
  height: 1rem;
}
