.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal div:last-child {
  position: relative;
  width: 80%;
  z-index: 50;
  background-color: var(--color-background);
  padding: 2rem 3rem;
  padding-bottom: 4rem;
}

.modal .modal-abs-btn {
  position: absolute;
  right: 0;
  bottom: 1rem;
  transform: translateX(60%);
}
