.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

.modalOverlay.visible {
  visibility: visible;
}

.modalOverlay > div:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal {
  position: relative;
  width: 80%;
  z-index: 50;
  background-color: var(--color-background);
  padding: 2rem 3rem;

  transform: scale(0);
  opacity: 0;
  transition: transform 0.150s ease-out;
}

.modalOverlay.visible > .modal {
  transform: scale(1);
  opacity: 1;
}

.modal.fit {
  width: fit-content;
  max-width: 80%;
}

.modal > h3 {
  position: absolute;
  font-weight: 700;
  top: -0.5rem;
  left: -0.5rem;
  transform: translate(-25%, -25%) rotate(-35deg);
  padding: 0.25rem 0.75rem;
  background-color: var(--color-foreground);
  color: var(--color-background);
  width: fit-content;
}

.modal:has(.modal-abs-btn) {
  padding-bottom: 4rem;
}

.modal-abs-btn {
  clip-path: polygon(5% 30%, 100% 0, 85% 100%, 0 70%);
  position: absolute;
  right: 0;
  bottom: 1rem;
  transform: translateX(60%) rotate(-30deg);
  padding: 0.75rem 1.25rem;
  animation: bounce-modal-btn 1.5s infinite;
}

.modal-abs-btn:focus,
.modal-abs-btn:hover:not(:disabled) {
  padding: calc(0.75rem + 5px) calc(1.25rem + 5px);
  font-weight: 900;
  animation: none;
}
