.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

.modal.visible {
  visibility: visible;
}

.modal > div:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal > div:last-child {
  position: relative;
  width: 80%;
  z-index: 50;
  background-color: var(--color-background);
  padding: 2rem 3rem;
  padding-bottom: 4rem;

  transform: scale(0);
  opacity: 0;
  transition: transform 0.150s ease-out;
}

.modal.visible > div:last-child {
  transform: scale(1);
  opacity: 1;
}

.modal > div:last-child > h3 {
  position: absolute;
  font-weight: 700;
  top: -0.5rem;
  left: -0.5rem;
  transform: translate(-25%, -25%) rotate(-35deg);
  padding: 0.25rem 0.75rem;
  background-color: var(--color-foreground);
  color: var(--color-background);
  width: fit-content;
}

.modal .modal-abs-btn {
  position: absolute;
  right: 0;
  bottom: 1rem;
  transform: translateX(60%);
}
