#user-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#user-info {
  display: flex;
  gap: 1rem;
  width: 100%;
}

#pfp {
  position: relative;
  width: 15rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 5px solid var(--color-accent);
}

#pfp > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#pfp > button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user-info-form #pfp > button,
#pfp:hover > button {
  visibility: visible;
}

.username-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.edit-username {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#name-input {
  font-size: 1.75rem;
  font-weight: 600;
}

.username,
.username2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  color: var(--color-foreground);
  cursor: pointer;
  height: fit-content;
}

.username > svg,
.username2 > svg {
  visibility: hidden;
  width: 1.5rem;
}

#user-info-form #pfp > button,
.username:hover > svg {
  visibility: visible;
}

#form-btns {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: flex-end;
}
