#toast-container {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  padding-right: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0;
  overflow-x: hidden;
}

#toast-container:empty {
  display: none;
}

.toast {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  padding: 0.25rem 1.5rem;
  overflow-x: hidden;
  box-shadow: var(--shadow-xl);
  cursor: pointer;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);

  animation: toast-life 4s ease-in-out;

}

.toast.transition-out {
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.toast.visible {
  opacity: 1;
  transform: translate(0%, 0%);
}

.toast.success {
  color: var(--color-success);
}

.toast.warning {
  color: var(--color-warning);
}

.toast.error {
  color: var(--color-error);
}

@keyframes toast-life {

  0%,
  100% {
    opacity: 0;
    transform: translate(100%, 0%);
  }

  5%,
  90% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
