.tooltip {
  z-index: 50;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease, visibility 150ms ease;
}

div:hover > .tooltip,
.tooltip.visible {
  opacity: 1;
  visibility: visible;
}

.tooltip > p {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius-lg);
}

.tooltip > div:last-child {
  background-color: var(--color-foreground);
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg) translate(-50%, -50%);
}

