{{ define "activity-card" }}
<li
  data-id="{{ .Id }}"
  class="activity-card"
  hx-get="/partials/activity/{{ .Id }}"
  hx-target="#modal-root"
  tabindex="0"
  onkeydown="(event.key === 'Enter' || event.key === 13) && this.click()"
>
  <div>
    <h4>{{ .Title }}</h4>
    <p class="text-subtitle text-xs">{{ timeToString .Date }}</p>
  </div>
  <ul>
    {{ range .IncreasedStats }}
    <li>
      <p>{{ .Stat }}</p>
      <div class="flex gap-xs items-center">
        {{ if ge .Points 1}}
        <div class="music-note-container">{{ template "music-note-svg" . }}</div>
        {{ end }}
        {{ if ge .Points 4}}
        <div class="music-note-container">{{ template "music-note-svg" . }}</div>
        {{ end }}
        {{ if ge .Points 7}}
        <div class="music-note-container">{{ template "music-note-svg" . }}</div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  <button
    class="btn-icon btn-ghost"
    hx-delete="/partials/activity/{{ .Id }}"
    onclick="event.stopPropagation()"
    onkeydown="event.stopPropagation()"
    hx-swap="delete"
    hx-target="closest li"
  >
      {{ template "trash-svg" }}
  </button>
</li>
{{ end }}
