{{ define "profile-header" }}
<section id="user-header">
  {{ template "user-info" . }}
  {{ template "stats-graph" . }}
</section>
{{ end }}

{{ define "user-info" }}
<form 
  id="user-info" 
  hx-patch="/partials/user-data"
  hx-on:submit="event.preventDefault()"
  hx-swap="outerHTML"
  hx-target=".edit-username"
  hx-encoding="multipart/form-data"
  novalidate
>
  {{ template "pfp" . }}
  {{ template "username" . }}
</form>
{{ end }}

{{ define "username" }}
<div 
  class="username"
  hx-get="/partials/user/edit/{{ .Name }}"
  hx-swap="outerHTML"
  hx-target="this"
  onclick=""
>
  <h1
    tabindex="0"
    onkeydown="(event.key === 'Enter' || event.key === 13) && this.click()"
  >
    {{ .Name }}
  </h1>
  {{ template "pencil-svg" }}
</div>
{{ end }}

{{ define "editing" }}
<div
  class="edit-username"
  hx-on::load="this.querySelector('#name-input').focus(); this.querySelector('#name-input').select()"
>
  <div class="username2">
    {{ template "input-group" (dict
      "Id"       "name-input"
      "Type"     "text"
      "Name"     "name"
      "Required" true
      "Value"    .Name
      "ErrorMsg" "Name is required"
    )}}
    {{ template "pencil-svg" }}
  </div>
  <div id="form-btns">
    <button 
      class="btn-secondary" 
      type="submit"
    >
      Edit
    </button>
    <button 
      class="btn-destructive" 
      type="reset"
      hx-get="/partials/user/edit-cancel/{{ .Name }}"
      hx-swap="outerHTML"
      hx-target=".edit-username"
    >
      Cancel
    </button>
  </div>
</div>
{{ end }}

{{ define "pfp" }}
<div 
  id="pfp" 
  onclick="openFirstChildFileInput(this)"
>
  <img src="{{ .Pfp }}" alt="profile picture" />
  <button class="btn-mutted btn-icon rounded" type="button">
    {{ template "pencil-svg" }}
  </button>
  <input 
      id="pfpChange" 
      name="pfp" 
      class="hidden" 
      type="file" 
      accept="image/*" 

      hx-get="partials/user/edit/{{ .Name }}"
      hx-swap="outerHTML"
      hx-target=".username"
    />
</div>
{{ end }}
